* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.1)), 
        url(../images/heroNineT.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 70px;
}

.text-box{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #999;
}

 .heading-primary{
     color: #ffffff;
     text-transform: uppercase; 
 }

 .heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 20px;

    animation-name: moveInLeft;
    animation-duration: 2.1s;
 }

 .heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 21px;
 }

 @keyframes moveInLeft {
     0% {
        opacity: 0;
        transform: translate(-100px);
     }
     
     70% {
        transform: translate(20px);
     }

     100% {
        opacity: 1;
        transform: translate(0);
     }
 }