// COLOURS

// COLOUR WHITE
$color-white: #fff;
$color-black: #000;

// COLOUR GREY LIGHT
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #bac0c3;
$color-grey-light-3: #d1d5d7;

// COLOUR GREY DARK
$color-grey-dark-1: #192f38;
$color-grey-dark-2: #46585f;

// COLOUR BLUE DARK
$color-blue-dark-1: #27467b;


// COLOUR BLUE LIGHT
$color-blue-light-1: #bec7d7;


//PICTURE CARD COLOURS

//PRIMARY COLOURS
$color-primary-light: #c93a3a;
$color-primary-dark: #7d1919;

//SECONDARY COLOURS
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

//TERTIARY COLOURS
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;


//FONT SIZES

$default-font-size: 1.6rem;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;