body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark-1;
    padding: 2rem;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 900;
        letter-spacing: 2rem;
        
        animation: moveInLeft 2.1s ease-out;
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2.1rem;
        animation-name: moveInRight;
        animation-duration: 2.1s;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-blue-light-1, $color-blue-dark-1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: scale(1.2);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-book {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
    padding: 10px 0;
    background-image: -webkit-gradient(linear,100% 30%,20% 0%,from(#fc6),to(#7d1919));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}